/* CSS Document */
body{
	background-image: url("../image/simpleruleex.jpg")
}
.wrapper{
	width: 100%;
}
.header{
	width: 100%;
	height: 200px;
/*	background: #ECA4A5;*/
	justify-content: center;
	display: flex;
}
.logo{
	width: 100%;
	height: 40px;
/*	background: #720608;*/
	justify-content: center;
	display: flex;
/*	overflow: hidden;*/
		
}
.logo img{
	height: 290px;
	
}

.header-bottom{
	width: 100%;
	height: 200px;
	
}
.menu{
	width: 100%;
	font-family: "roboto";
	font-size: 25px;
	color: black;
	line-height: 205px;
	text-align: center;
	
	
}
.banner1{
	text-align: center;
	font-family: 'roboto';
/*	background: #B9696A;*/
	letter-spacing: 2px;
}
.main{
	width: 100%;
/*	background: Grey;*/
}
.banner2{
	text-align: center;
	font-family: 'roboto';
/*	background: #B9696A;*/
	letter-spacing: 2px;
	
}

	
/*
.bannerfish{
	width: 100%;
	height: 36px;
	background: #D7F48C;
	font-family: 'Mulish', sans-serif;
	justify-content: center;
*/
.ten{
	display: flex;
/*	background: #741D1E;*/
	justify-content: center;
}
.ca{
	width: 200px;
/*	background: #86A9E7;*/
	margin: 118.1px;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	font-family: 'Mulish', sans-serif;
	

}

.sectione{
	width: 70%;
	height: 100px;
/*	background: #6A659B;*/
	font-family: 'Mulish', sans-serif;
	margin: 1rem auto;
	text-align: center;
	font-size: 25px;
}
.outer{
	display: flex;
	justify-content: center;
	margin-top: 10PX;
}
.box{
	width: 400px;
	height: 600px;
	background: #C05C5E;
	margin: 20px;
	
}
.img{
	height: 400px;
	width: 400px;
	background: #EB2C2F;
}
.cabottom{
	display: flex;
	justify-content: center;
	margin-top: -120px
}
.boxca{
	width: 190px;
	height: 50px;
	background: #CB4B4B;
	margin: 124px;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
    line-height: 50px;
	font-family: 'roboto';
	
	
	
}
.boxca a{
	text-decoration: none;
	color: black;
}
.banner3{
	text-align: center;
	font-family: 'roboto';
/*	background: #B9696A;*/
	letter-spacing: 2px;
}

.sectionebottom{
	width: 70%;
	height: 100%;
/*	background: #6A659B;*/
	font-family: 'Mulish', sans-serif;
	margin: 1rem auto;
	text-align: center;
	font-size: 25px;
	margin-bottom: 30px;
}
.footer{
	width: 100%;
	display: block;
	overflow: hidden;
	padding: 70px;
	box-sizing: border-box;
/*	background-color: #18181a	*/
	
}

.inner-footer{
	display: block;
	margin: 0 auto;
	width: 84%;
	height: 100%;
}

.inner-footer .logo-container{
	width: 38%;
	float: left;
	height: 100%;
	display: block;
}


.inner-footer .footer-third{
	width: 300px;
	margin-right: 50px;
	float: right;
	text-align: right;
	height: 100%;
}
.inner-footer .footer-third:last-child{
	margin-right: 0;
}	
.inner-footer .footer-third h1{
	font-family: 'roboto';
	font-size: 22px;
	color: black;
	display: block;
	width: 100%;
	margin-bottom: 20px;	  
}


.inner-footer .footer-third a{
	font-family: 'roboto';
	font-size: 18px;
	color: black;
	display: block;
	font-weight: 200px;
	width: 100%;
	padding-bottom: 5px;
	text-decoration: none;
}
.box .img img{
	width: 400px;
	height: 600px;
	
}

	

